*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.testrepository
.venv

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/build
releasenotes/build

# pbr generates these
AUTHORS
ChangeLog

# Editors
*~
.*.swp
.*sw?

node_modules
.sass-cache/
bower_components
.tmp/
api-site/
conversion_files/
conversion_files_valid/
api_doc/
/public/components/
/.eggs/
